:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  scroll-behavior: smooth;
  color: #213547;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:
}
a {
  text-decoration: none;
  color: #fff;
}
.li:hover {
  border-left: 0.4em solid #fff !important;
}
.authentication-background {
  background-image: url("/bg-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .menubar {
    flex-direction: row !important;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
  }
  .menu-li {
    width: 100px;
  }
  .authentication-background {
    background-image: url("/bg-desktop.jpg");
  }
}
